<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Delete Pilot</title>
		
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar(nama='Delete')"></nav>
		<h2>Dengan ini saya selaku raja maskapai penerbangan, dengan berat hari menyatakan bahwa:</h2>
		<h3>Anda diberhentikan sebagai pilot. Mohon maaf ya......</h3>
	</body>
</html>