<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Delete Pilot</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar(nama='Update Pilot')"></nav>
	<br>
	<br>
	<h2> Hello!</h2>
	
	<h3> Update pilot</h3>
	<form th:action="@{/pilot/update}" th:object="${newpilot}" method ="POST">
		<h3 th:text="'Old Pilot License Number : '+${pilot.licenseNumber}"></h3>
		New License Number:<br>
		<input type="text" name="licenseNumber" th:value="${pilot.licenseNumber}" readonly/>
		<br>
		<h3 th:text="'Old Name : '+${pilot.name}"></h3>
		New Name:<br>
		<input type="text" name="name"/>
		<br>
		<h3 th:text="'Old Fly Hour : '+${pilot.flyHour}"></h3>
		New Fly Hour: <br>
		<input type="number" name="flyHour"/>
		<br><br>
		<button type="submit"> Submit</button>
	</form>
</body>
</html>